body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(247, 254, 254);
    margin: 20px;
    color: black;
}
header {
    font-family: 'Bodoni Moda', serif;
}
main {
    height: 80%;
    width:100%;
}
footer {
    font-family: 'Bodoni Moda', serif;
}
#header-index {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#header {
    font-size: 300%;
}
#form-container {
    height: 100%;
}
#new-post-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#new-post-form > div {
    padding: 10px;
    background-color:rgba(233, 252, 252, 0.7);
    box-shadow: 20px 20px 50px 10px rgba(69, 83, 83, 0.4);
    border-radius: 10%;
}
#title, #name {
    height: 25px;
    width: 180px;
}
#title, #name, #content{
    border: none;
    /* border-bottom: 1px solid black; */
    /* background-color: rgb(223, 231, 231); */
    background-color:rgb(233, 252, 252);
    border-radius: 10%;
    /* box-shadow: 20px 20px 50px 10px #9A425B inset; */
    font-family: 'Bodoni Moda', serif;
    outline: none;
}
#submit-container {
    width: 80px;
    height: 45px;
}
#submit {
    width: 100%;
    height: 100%;
    border: none;
    /* border-bottom: 1px solid black; */
    /* background-color: rgb(223, 231, 231); */
    background-color:rgba(233, 252, 252);
    border-radius: 10%;
    /* box-shadow: 20px 20px 50px 10px #9A425B inset; */
    font-family: 'Bodoni Moda', serif;
}

input, textarea {
    padding: 15px;
}

#title:hover {
    background-color: rgb(214, 244, 244);
    -webkit-animation:bump 0.35s  linear; /*for Google*/
    -moz-animation:bump 0.35s  linear;/*for Firefox*/
}

#name:hover {
    background-color: rgb(214, 244, 244);
    -webkit-animation:bump 0.35s  linear; /*for Google*/
    -moz-animation:bump 0.35s  linear;/*for Firefox*/
}

#content:hover {
    background-color: rgb(214, 244, 244);
    -webkit-animation:bump 0.35s  linear; /*for Google*/
    -moz-animation:bump 0.35s  linear;/*for Firefox*/
}

#submit:hover {
    background-color: rgb(214, 244, 244);
    cursor: pointer;
    -webkit-animation:bump 0.35s  linear; /*for Google*/
    -moz-animation:bump 0.35s  linear;/*for Firefox*/
}

#new-post-form > div:hover {
    background-color: rgb(214, 244, 244); 
    -webkit-animation:bump 0.35s  linear; /*for Google*/
    -moz-animation:bump 0.35s  linear;/*for Firefox*/
}

@-webkit-keyframes bump{/*for Google*/
	0% {-webkit-transform:scale(1.2,1.2); opacity: 0.7;}
	50% {-webkit-transform:scale(0.9,0.9); opacity: 0.9;}
	100% {-webkit-transform:scale(1,1); opacity: 1;}
}

@-moz-keyframes bump{/*for Firefox*/
	0% {-moz-transform:scale(1.2,1.2); opacity: 0.7;}
	50% {-moz-transform:scale(0.9,0.9); opacity: 0.9;}
	100% {-moz-transform:scale(1,1); opacity: 1;}
}





/* single post page*/
#header-single-page {
    text-decoration: none;
    color: black;
    font-size: 500%;
    font-family: 'Bodoni Moda', serif;
}

#header-single-page:hover {
    -webkit-animation:bump 0.35s  linear; /*for Google*/
    -moz-animation:bump 0.35s  linear;/*for Firefox*/
    box-shadow: 20px 20px 50px 10px rgba(69, 83, 83, 0.4);
    color: rgb(250, 250, 250);
    background-color: rgb(221, 236, 236);
}

#results {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Bodoni Moda', serif;
    box-shadow: 20px 20px 50px 10px rgba(69, 83, 83, 0.4);
    padding: 30px;
  
}

.created-by {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.created-by-name, .created-by-text {
    margin: 5px;
}


/* dark mode*/
.dark-mode {
    background-color: black;
    color: white;
  }


#dark-mode-btn {
    border: none;
    /* border-bottom: 1px solid black; */
    /* background-color: rgb(223, 231, 231); */
    background-color:rgba(233, 252, 252, 0.663);
    border-radius: 60%;
    height: 60px;
    box-shadow: 20px 20px 50px 10px rgb(132, 142, 142, 0.4);
    font-family: 'Bodoni Moda', serif;
}

#dark-mode-btn:hover {
    -webkit-animation:bump 0.35s  linear; /*for Google*/
    -moz-animation:bump 0.35s  linear;/*for Firefox*/
    cursor: pointer;
}

.dark-mode #title {
    background-color: black;
}

.dark-mode #name {
    background-color: black;
}

.dark-mode #content {
    background-color: black;
}

.dark-mode #submit {
    background-color: black;
}

.dark-mode #new-post-form > div:hover {
    background-color: rgb(60, 70, 70);
}

.dark-mode #new-post-form > div {
    background-color: black;
}

.dark-mode #header-single-page {
    color: white;
}

.dark-mode #header-single-page:hover {
    background-color: transparent;
    color: rgb(60, 70, 70);
}

.dark-mode input {
    color: white;
}

.dark-mode textarea {
    color: white;
}
