body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: azure;
}
main {
    height: 80%;
    width:100%;
}
#form-container {
    height: 100%;
}
#new-post-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#new-post-form > div {
    padding: 10px;
    background-color:rgb(123, 176, 176, 0.4);
    box-shadow: 20px 20px 50px 10px rgba(91, 106, 106, 0.4);
    border-radius: 10%;
}
#title, #name {
    height: 25px;
    width: 180px;
}
#title, #name, #content{
    border: none;
    /* border-bottom: 1px solid black; */
    /* background-color: rgb(223, 231, 231); */
    background-color:#C2E0DF;
    border-radius: 10%;
    /* box-shadow: 20px 20px 50px 10px #9A425B inset; */
}
#submit-container {
    width: 80px;
    height: 45px;
}
#submit {
    width: 100%;
    height: 100%;
    border: none;
    /* border-bottom: 1px solid black; */
    /* background-color: rgb(223, 231, 231); */
    background-color:#6d9594;
    border-radius: 10%;
    /* box-shadow: 20px 20px 50px 10px #9A425B inset; */
}